---
layout: default
title: "Photo Gallery"
permalink: /gallery/
---
<h1>Photo Gallery</h1>
<p>Welcome to my gallery.</p>

<div class="gallery">
  {% assign gallery_images = site.static_files | where_exp:"file", "file.path contains '/assets/images/gallery'" %}
  {% for image in gallery_images %}
    {% if image.path contains '.jpg' or image.path contains '.png' or image.path contains '.gif' %}
      <figure>
        <img src="{{ image.path | relative_url }}" alt="{{ image.name }}">
        <figcaption>{{ image.name }}</figcaption>
      </figure>
    {% endif %}
  {% endfor %}
</div>
