---
layout: default
---
<article class="post flame-ember-post">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</p>
  <div class="flame-ember" data-flame>
    <div class="flame-source">{{ content }}</div>
    <canvas class="flame-canvas"></canvas>
    <p class="flame-hint">click to ignite &middot; double-click to reform</p>
  </div>
</article>
<hr>
<section id="comments">
  <script src="https://utteranc.es/client.js"
          repo="lxsoftroxs/lxsoftroxs.github.io"
          issue-term="pathname"
          theme="github-dark"
          crossorigin="anonymous"
          async>
  </script>
</section>
