---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</p>
  <div class="post-content">
    {{ content }}
  </div>
  <!-- Comments -->
  {% include post_comments.html %}
</article>
<div id="comments">
  <script src="https://utteranc.es/client.js"
        repo="https://lxsoftroxs.github.io/"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
  </script>
</div>
